
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600;700&display=swap');

:root {
    --primary-color: #4895ef;
    --secondary-color: #3f37c9;
    --dark-secondary-color: #560bad;
}

.container-center {
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-family: "Source sans pro", sans-serif;
    background-color: #4895ef;
    border: 0.2rem solid #3f37c9;
    height: 72vh;
}

.heading-main {
    margin: 1rem auto;
    color: white;
}

label {
    font-size: 1.5rem;
    color: white;
}

#input-date {
    display: block;
    font-size: 1.25rem;
    margin: 1rem auto;
    width: 18rem;
    height: 2.5rem;
    border: 5px solid #560bad;
    border-radius: 0.5rem;
}

#check-if-palindrome {
    display: block;
    margin: 2rem auto;
    padding: 1rem auto;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.25rem;
    color: white;
    background-color: #3f37c9;
    border: 0.2rem solid var(--dark-secondary-color);
}

#output {
    font-size: 1.65rem;
    padding: 0.5rem;
    color: wheat;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0.5rem;
    text-align: center;
    background-color: #4895ef;
    border-top: 0.2rem solid var(--secondary-color);
    border-left: 0.2rem solid var(--secondary-color);
    border-right: 0.2rem solid var(--secondary-color);
    color: black;
}

footer ul {
    text-decoration: none;
    padding-inline-start: 0;
}

footer li {
    display: inline;
}

footer img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem 1rem;
    
}